---
layout: compress
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="is-loading">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
      <!-- Intro -->
      <div id="intro">
        <h1>{{site.title}}</h1>
        <h2>{{site.subtitle}}</h2>
        <p>{{site.description}}</p>
        
        <ul class="actions">
          <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Продолжить</a></li>
        </ul>
      </div>
  
      {% include page-header.html %}

      <!-- Main -->
      <div id="main">
        <!-- Featured Post -->
        <article class="post featured">
          <header class="major">
            <h2><a href="#">Сайт в разработке</a></h2>
            <p>Я обновлю содержимое в течении некоторого времени. Пока здесь представлена портированная с WordPress 
              блога информация</p>
          </header>
        </article>

        {% include posts.html %}

        {% include page-footer.html %}
      </div>
      
      {% include footer.html %}
    </div>

    <!-- Scripts -->
    {% include scripts-main.html %}
  </body>
</html>
