<!-- Footer -->
<footer id="footer">
  <section>
    ...
  </section>
  <section class="split contact">
    <section>
      <h3>...</h3>
      <p>...</p>
    </section>
  </section>
</footer>

<!-- Copyright -->
<div id="copyright">
  <ul>
    <li>&copy; Yurijmi 2013-{{ 'now' | date: "%Y" }}</li>
    <li>Design by <a href="https://html5up.net" target="_blank" rel="nofollow">HTML5 UP</a></li>
  </ul>
</div>
