<!-- Header -->
<header id="header">
  <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
</header>

<!-- Nav -->
<nav id="nav">
  <ul class="links">
    <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Главная</a></li>
    <li class="{% if page.url contains '/kto-ya/' %} active {% endif %}"><a href="{{ "/kto-ya/" | absolute_url }}">Кто Я?</a></li>
    <li class="{% if page.url contains '/moi-proekty/' %} active {% endif %}"><a href="{{ "/moi-proekty/" | absolute_url }}">Мои проекты</a></li>
    <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Мой блог</a></li>
  </ul>
  
  <ul class="icons">
    <li>
      <a href="https://github.com/yurijmi" class="icon fa-github" target="_blank" rel="nofollow">
        <span class="label">GitHub</span>
      </a>
    </li>
    <li>
      <a href="https://t.me/yurijmi" class="icon fa-telegram" target="_blank" rel="nofollow">
        <span class="label">Telegram</span>
      </a>
    </li>
    <li>
      <a href="https://yurijmi.deviantart.com" class="icon fa-deviantart" target="_blank" rel="nofollow">
        <span class="label">DeviantArt</span>
      </a>
    </li>
    <li>
      <a href="https://vk.com/yurijmi" class="icon fa-vk" target="_blank" rel="nofollow">
        <span class="label">VK</span>
      </a>
    </li>
  </ul>
</nav>
