<!-- Posts -->
<section class="posts">
  {% for post in site.posts limit:3 %}
  {% assign mod3 = forloop.index | modulo: 3 %}
  <article>
    <header>
      {% include date.html date=post.date %}
      <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
    </header>
    
    {% if post.image %}
    <a href="{{ post.url | absolute_url }}" class="image fit">
      <img src="{{ post.image | absolute_url }}" alt="{{ post.title }}" />
    </a>
    {% endif %}
    
    <p>{{ post.excerpt }}</p>
    
    <ul class="actions">
      <li><a href="{{ post.url | absolute_url }}" class="button">Читать далее</a></li>
    </ul>
  </article>
  {% if mod3 == 0 %}
  <article></article>
  {% endif %}
  {% endfor %}
</section>
