---
layout: compress
---
<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="is-loading">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
      {% include page-header.html %}
      
      <!-- Main -->
      <div id="main">
        <article class="post featured">
          <header class="major">
            <h2><a href="{{ page.permalink | absolute_url }}">{{page.title}}</a></h2>
  
            {{page.content}}
          </header>
        </article>
  
        {% include posts.html %}
      </div>

      {% include footer.html %}
    </div>

    {% include scripts-main.html %}
  </body>
</html>
