---
layout: compress
---
<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="is-loading">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
      {% include page-header.html %}
      
      <!-- Main -->
      <div id="main">
        <!-- Post -->
        <section class="post">
          {{content}}
        </section>
  
        {% include page-footer.html %}
      </div>

      {% include footer.html %}
    </div>

    {% include scripts-main.html %}
  </body>
</html>
