---
layout: compress
---
<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="is-loading">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
      {% include page-header.html %}

      <!-- Main -->
      <div id="main">
        <section class="post">
          <header class="major">
            {% include date.html date=page.date %}
            <h2>{{page.title}}</h2>
          </header>
          
          {% if page.image %}
          <div class="image main">
            <img src="{{ page.image | absolute_url }}" alt="{{page.title}}">
          </div>
          {% endif %}
          
          {{content}}
        </section>
  
        {% include page-footer.html %}
      </div>
      
      {% include footer.html %}
    </div>

    {% include scripts-main.html %}
  </body>
</html>
